*{
    background:#F3F5FC;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
   

}

.logo{
    padding-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 58px;
    gap: 40px;
    
}



main{
    display: flex;
    background-color: #F3F5FC;
    gap:500px
    
    
    
}

.text-area{

    border: none;
    color: #0A3871;
    margin-top: 90px;
    margin-left: 240px;
    text-transform:lowercase;
    resize:none;
    
    
}

.placeholder{ color: #0A3871;}
    .text-area:focus{
        outline: none;
       
    }


.mensaje{

    background: white;
    background-image: url("/imagenes/Muñeco.png"); 
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-position-x: 180px;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 40px;
    width: 700px;
    height: 800px;
    left: 150px;
    padding-left: 30px;
    padding-top: 30px;
    resize:none

}


 

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-left: 240px;
    margin-top: 300px;
    gap: 70px;
             
}


.btn-encriptar{
    
    background-color: #ffcc99;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;



}


.btn-desencriptar{
    background: #DAF7A6;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 80px;
    margin-left: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;




}

.copiar{

    background: #b3ffe6;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 80px;
    margin-left: 250px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 1680px;



}





.informacion{

    color: #495057;
    position: fixed;
    font-size: 0.8rem;
    margin-top: 250px;
    margin-left: 265px;
    gap: 8px;
    position: absolute;
}

.icono{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 260px;
    margin-left: 230px;
    
}

.mensajeAlerta{
    position: absolute;
    background-color: white;
    top: 700px;
    gap: 16px;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    margin-left: 300px;

}

.nota{
    position: absolute;
    background-color: white;
    width: 336px;
    height: 48px;
    top: 780px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-left: 270px;

}


.footer{

    
    
    color:#0A3871;
    background-color:#a3c2c2;
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
   


}

@media (max-width:1200px){

    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
    
    
    }

    .logo{

        margin-left: 1px;
        margin-top: 1px;  
        
    }

    .text-area{

        height: 400px;
        margin-top: 60px;
        margin-left: 50px;
        
        
    }

    
    .placeholder{ color: #0A3871;}
        .text-area:focus{
            outline: none;
           
        }
    
    
    .mensaje{
        
        margin-left: 160px;
        margin-top: 70px;
        margin-right: 40px;
        width: 700px;
        height: 300px;
        background-image:none;
        
       
    }


    .mensajeAlerta{
        
        top:880px;
        font-size: 1.1rem;
        position: absolute;
        left: 100px;
        
        
        
    
    }

    .nota{
           
        width: 336px;
        height: 48px;
        top: 950px;
        font-size: 0.9rem;
        margin-left: 340px;
        position: absolute;
        
    }


    .botones{
       
        display: flex;
        margin-left: 90px;
        margin-top: 60px;
        gap: 30px;
                 
    }

    .informacion{

        font-size: 0.8rem;
        margin-top: 0px;
        margin-left: 100px;
        position: absolute;
       

    }

    .icono{
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 13px;
        margin-left: 75px;
    }


    .copiar{
        
        height: 80px;
        width: 400px;
        margin-top: 40px;
        margin-bottom: 1px;
        margin-left: 320px;
    
    }

    
    .footer{
    
        margin-top: 170px;
       
    }
    


    @media (max-width:768px) {

        *{
            
            font-size: 1.2rem;  
        
        }


        

        .logo{

            margin-left: 1px;
            margin-top: 1px;
            width: 100px;
            height: 40px;
            
            
            
        }

        main{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0px;
        
        }

        

        .text-area{

            height: 350px;
            margin-top: 40px;
            margin-left: 30px;
            
        }
    
        
        .placeholder{ color: #0A3871;}
            .text-area:focus{
                outline: none;
               
            }
        
        
        .mensaje{
            
            margin-left: 65px;
            margin-top: 30px;
            margin-right: 40px;
            width: 600px;
            height: 100px;
           
        }


        .mensajeAlerta{
            
            top:680px;
            font-size: 1rem;
            position: absolute;
            
            
        
        }
        
        .nota{
           
            width: 336px;
            height: 48px;
            top: 740px;
            font-size: 0.7rem;
            margin-left: 230px;
            position: absolute;
            
        }


        .botones{
           
            display: flex;
            margin-left: 80px;
            margin-top: 1px;
            gap: 30px;
                     
        }
        
        
        .btn-encriptar{
            
            background-color: #0A3871;
            border: 1px solid #0A3871;
            border-radius: 24px;
            color: #D8DFE8;
            cursor: pointer;
            height: 70px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            margin-top: 51px;
        
        
        
        }
        
        
        .btn-desencriptar{
            background: #DAF7A6;
            border: 1px solid #0A3871;
            border-radius: 24px;
            color: #0A3871;
            cursor: pointer;
            height: 70px;
            margin-left: 30px;
            width: 250px;
            margin-top: 51px;
            
        
        
        
        
        }
        
        .copiar{
        
            height: 70px;
            width: 250px;
            margin-top: 2px;
            margin-bottom: 1px;
        
        }




        .informacion{

            font-size: 0.7rem;
            margin-top: 1px;
            margin-left: 100px;
            padding: 1px;
           

        }

        .icono{
            height: 20px;
            width: 20px;
            position: absolute;
            margin-top: 17px;
            margin-left: 75px;
        }



        .footer{
    
            margin-top: 40px;
           
        }
        


        
    }

    @media (max-width:376px){

        
        
        
        
        
        
        
        
    }
        
    

    
}